
.userDetails{
    display: flex;
    justify-content: center;
    align-items: center;
}

.userDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid gray;
    color: #eb7d16;
}
.userInfo{
    display: flex;
    flex-direction: column;
}

.userDetailsButton button{
    background-color: #ff0000;
    border: none;
    outline: none;
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.userDetailsButton button:hover{
    color: #ff0000;
    background-color: white;
    transition: 1s;
}