.categoryContainer {
  margin: 20px 10px 10px 5px;
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
  color: #eb7d16;
  cursor: pointer;
}

.singleCategory {
  margin: 2px;
  padding: 5px;
  max-width: 80px;
  text-align: center;
}

.categoryContainer::-webkit-scrollbar {
  display: none;
}
